<h1>アイテム一覧</h1>
<div class="main-content col-5">
  <div class="row row-cols-3 p-3">
    <div class="col p-3">
      <div class="content">
        <% @items.each_slice(3) do |group| %>
          <div class="d-flex justify-content-between">
            <% group.each do |item| %>
              <div>
                <%= link_to user_item_path(item) do %>
                  <%= image_tag item.image, style: "width: 300px; height: 200px;" if item.image.attached? %>
                  <p><%= item.name %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
