<h1>User一覧</h1>
<div>
  <strong>ID</strong> - <strong>名前</strong> - <strong>メールアドレス</strong>
</div>

<% @users.each do |user| %>
  <div>
    <%= user.id %> - <%= user.name %> - <%= user.email %>
  </div>
<% end %>
