<h1>ジャンル編集</h1>
<%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch  do |form| %>
  <div>
    <%= form.label :name, "ジャンル名" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>


