<h1>User::Customers#unsubscribe</h1>
<p>Find me in app/views/user/customers/unsubscribe.html.erb</p>
<div class="actions">
  <%= link_to "退会する", user_withdraw_path,method: :patch, class: "btn btn-danger" %>
  <%= link_to "退会しない", user_information_edit_path, class: "btn btn-secondary" %>
</div>
