<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h1 class="display-4">当サイトは基礎化粧品のレビューサイト。</h1>
          <p class="lead">　アイテムは登録しなくても閲覧できますが、レビューは登録が必要となります！！</p>
　　　</div>
　　</div>
  </div>
</div>
