<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
          <h1 class="display-4">プチプラコスメ大集合！！</h1>
          <p class="lead">　３０００円以下のプチプラの基礎化粧品をあつめてみました。</br>
                    　良かったらぜひレビューをお願いします！！</p>>
　　　</div>
　　</div>
  </div>
</div>

