<h1>User::Homes#top</h1>
<p>Find me in app/views/user/homes/top.html.erb</p>
<body>
  <div class="container">
    <!-- main用のdiv -->
    <div class="main row">
      <div class="col-sm-7">
      </div>
    </div>
  </div>
</body>